In [12]:
#BIBLIOTEKI I OPCJE
import pandas as pd
import re
import random
import math
import uuid
import datetime
import numpy as np

import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', None)

#TABELE
# playerTable = pd.DataFrame(columns=['Name', 'Surname', 'City', 'Category']) #to provide player names
# playerTable = pd.read_csv('examplePlayerTable.csv')
df = pd.read_csv('csv/examplePlayerTable.csv')
#trickTable = pd.read_csv('trickTableJapan.csv')
df = df.loc[df.index <= 10]
#MODUŁY
%run tableFunction.ipynb
%run gameFunction.ipynb

In [13]:
df

           Name   Surname      City  Category
0       Bernard  Drzemlik    Poznań  Beginner
1        Manuel      Alka  Warszawa   Advance
2          Eryk    Pardwa    Gdańsk   Advance
3   Włodzimierz    Krakwa  Warszawa   Advance
4     Eugeniusz    Dubelt    Gdańsk   Advance
5         Benon    Bażant   Wrocław  Beginner
6         Zofia     Dudek    Karków   Advance
7        Elwira    Kraska  Katowice   Advance
8       Kiliana       Kos  Szczecin   Advance
9      Hieronim     Remiz    Lublin  Beginner
10        Zenon   Edredon  Szczecin  Beginner

In [14]:
def removePlayer(tableName, pIndex):
    tableName = tableName.drop(index=pIndex)
    return tableName
removePlayer(df, 8)

           Name   Surname      City  Category
0       Bernard  Drzemlik    Poznań  Beginner
1        Manuel      Alka  Warszawa   Advance
2          Eryk    Pardwa    Gdańsk   Advance
3   Włodzimierz    Krakwa  Warszawa   Advance
4     Eugeniusz    Dubelt    Gdańsk   Advance
5         Benon    Bażant   Wrocław  Beginner
6         Zofia     Dudek    Karków   Advance
7        Elwira    Kraska  Katowice   Advance
9      Hieronim     Remiz    Lublin  Beginner
10        Zenon   Edredon  Szczecin  Beginner