In [2]:
#BIBLIOTEKI I OPCJE
import pandas as pd
import re
import random
import math
import uuid
import datetime
import numpy as np

import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', None)

#TABELE
# playerTable = pd.DataFrame(columns=['Name', 'Surname', 'City', 'Category']) #to provide player names
# playerTable = pd.read_csv('examplePlayerTable.csv')
#df = pd.read_csv('csv/examplePlayerTable.csv')
trickTable = pd.read_csv('csv/trickTableJapan.csv')
#df = df.loc[df.index <= 10]
df = pd.read_csv('csv/masterTable.csv')
#MODUŁY
%run tableFunction.ipynb
%run gameFunction.ipynb

In [3]:
trickTable

,Level,Point,year2014,year2015,year2016,year2017,year2018,year2019
0,1,1,Airplane\n飛行機,Spike\nとめけん,Airplane\n飛行機,Spike\nとめけん,Spike\nスパイク,Base cup\n中皿
1,1,2,Swing spike\nふりけん,Airplane\n飛行機,Spike\nとめけん,Airplane\n飛行機,Airplane\n飛行機,Airplane\n飛行機
2,1,3,Around Japan\n日本一周,Around Japan\n日本一周,Around Japan\n日本一周,Around Japan\n日本一周,"Big cup, Spike\n村一周","Easy big cup, Spike\n手のせ大皿～けん"
3,1,4,Around the world\n世界一周,"Big cup, Orbit, Spike\n大皿～つばめ返し～けん",Trapeze\n空中ブランコ,Trapeze\n空中ブランコ,Trapeze\n空中ブランコ,Trapeze\n空中ブランコ
4,1,5,Trapeze\n空中ブランコ,Trapeze\n空中ブランコ,"Big cup, Orbit, Spike\n大皿～つばめ返し～けん",Moshikame x11\nもしかめ１１回,"Big cup, Orbit, Spike\n大皿～つばめ返し～けん",Takoyaki\nたこやき
...,...,...,...,...,...,...,...,...
95,10,6,"Stilt, Inward flip stilt over the valley, Stilt over the valley, In たけうま～うら１回転\nたけうま谷渡り～たけう\nま谷渡り～さかおとし",2 turn gunslinger kenflip spike\n２回転風車けんフリップとめけん,"Wing nod off wing, Wing over valley nod off wing, 1 turn spike\n大皿極意こっくり～小皿極意こっくり～回転けん","Airplane, Tap 1.5 inward flip tap 1.5 flip swap juggle spike\n飛行機～タップ１．５うらフリップタップ１．５フリップスワップジャグルとめけん","Downspike fasthand, No turn stilt, Tap backward inward stilt, Tap backward stilt,\nDownspike fasthand\nダウンスパイクファストハンド～無回転たけうま～タップバックワードうら たけうま～タップバックワードたけうま\n～ダウンスパイクファストハンド","Stilt flip, Stilt barrel roll,\nStilt tre flip, Flip in たけうまとんぼ返り～ たけうまバレルロール～たけうまトレとんぼ返り\n～１回転さかおとし"
96,10,7,"Lighthouse, Trade triple kenflip spike\n灯台～３回転けんフリップとめけん","Two & half turntable pause, Downspike\n２回転半ターンテーブルポーズ～ダウンスパイク","Lighthouse, Quint tap lighthouse, Falling in\n灯台～５タップ灯台\n～さかおとし","Inward lunar, Lunar, Backward inward lunar, Backward lunar,\n1 turn falling in\nうら月面～月面～バックワードうら月面～バックワード月面\n～１回転さかおとし","Inward lunar, Lighthouse insta lighthouse flip insta inward lighthouse flip insta backward inward lunar, Falling in\nうら月面～灯台インスタ灯台 とんぼ返りインスタうら灯台 とんぼ返りインスタバックワードうら月面～さかおとし",1 turn tap lighthouse insta inward flip swap tap lighthouse insta inward flip swap spike\n１回転タップ灯台インスタうらフリップスワップタップ灯台 インスタうらフリップスワップけん
97,10,8,Mooncircle juggle kenflip spike\n円月殺法ジャグリングけんフリップとめけん,"Lightning drop double kenflip lighthouse,\n2 turn trade spike\n稲妻おとしジャグル２回転灯台～２回転とめけん","Inward lunar, 1 turn tap 1 turn inward lunar insta 1 turn tap 1 turn inward lunar, Falling in\nうら月面～１回転タップ１回転うら月面インスタ１回転タップ\n１回転うら月面～さかおとし","Lightning drop fast\n1 turn lunar, Stuntplane\n稲妻はやて１回転月面～すくいけん","Inward lunar, 1 turn cushion swap kenflip cushion inward lunar, 1 turn tap in\nうら月面～１回転クッションスワップけんフリップ\nクッションうら月面\n～１回転タップさかおとし","Inward lunar, Double spike tap cushion inward lunar,\nSpike tap in\nうら月面～ダブルけん先タップクッションうら月面～けん先タップイン"
98,10,9,"Inward 2-turn lunar, Inward double flip lunar, In\nうら２回転月面着陸～うら２回転月面とんぼ\n返り～さかおとし","Mooncircle handlestall,\nSwap UFO\n円月殺法中皿極意～ＵＦＯ","Lunar, Juggle double kenflip juggle kenflip lunar, Falling in\n月面～ジャグル２回転 フリップジャグルフリップ\n月面～さかおとし","Stilt, Candle grip underbird, Kenflip stilt,\nDownspike\nたけうま～ろうそくグリップアンダーバード～けんフリップたけうま～ダウンスパイク","Penguin airplane,\n1.5 turn swap penguin lighthouse insta\npenguin tradespike\nペンギン飛行機～ １．５回転スワップペンギン灯台インスタペンギンけん",Triple spacewalk tap 3 turn in\n神風～タップ３回転イン
99,10,10,"Lightning drop swap handlestall, Spike\n稲妻おとし１回転中皿極意～けん","Downspike, Triple down whirlwind\nダウンスパイク～３回転けんフリップダウンスパイク",Triple tap juggle triple tap juggle downspike\nトリプルタップジャグルトリプルタップジャグル\nダウンスパイク,"Downspike, Swap 1 turn lighthouse insta juggle kenflip juggle downspike\nダウンスパイク～１回転灯台インスタジャグルけんフリップ\nジャグルダウンスパイク","Underbird, Gunslinger reverse gunslinger bird,\nDownspike fasthand\nアンダーバード～ 風車逆風車うぐいす～\nダウンスパイクファストハンド","Triple inward gunslinger handlestall, Downspike\nうら３回転風車中皿極意\n～ダウンスパイク"

In [3]:
playersDict = {
    'Jack': {
        'skills': 3,
        'freq': 9
    },
    'Mike': {
        'skills': 5,
        'freq': 8
    },
    'Anna': {
        'skills': 3,
        'freq': 5
    },
    'Braina': {
        'skills': 5,
        'freq': 5
    },
    'Jessica': {
        'skills': 4,
        'freq': 7
    },
    'Sonia': {
        'skills': 6,
        'freq': 3
    },
}

df = pd.DataFrame(columns=[['name', 'gameUID', 'gamesWin', 'gamesTotal', 'masterUID']])


def devFreq(playersDict):
    for p in playersDict:
        playerFreq = playersDict[p].get('freq')
        playerFreq = playerFreq * random.randint(1,6)
        playersDict[p].update({'gameFreq': playerFreq})
    return playersDict

def devSkill(playersDict, randomFacto=True):
    for p in playersDict:
        playerSkill = playersDict[p].get('skills')
        playerSkill = playerSkill * random.randint(1,6)
        if randomFacto == True: playerSkill += random.randint(-5,5)
        playersDict[p].update({'gameSkills': playerSkill})
    return playersDict

def devGame(playersDict, pArray=[]):
    if len(pArray) == 0:
        pDict = devFreq(playersDict)
        pDict = devSkill(playersDict)
        gamePopulation = random.randint(2,len(pDict)) 
        
        pFreq = []
        for p in pDict: pFreq.append(pDict[p].get('gameFreq'))
        while len(pFreq) > gamePopulation: pFreq.pop(pFreq.index(min(pFreq)))
        
        game = {
            'name': [],
            'winner': [],
            'points': []
        } 
    
                  
    
        for p in pDict: 
            if pDict[p].get('gameFreq') in pFreq: game['name'].append(p)

    elif len(pArray) > 1:
        pDict = devSkill(playersDict)
        
        game = {
            'name': pArray,
            'winner': [],
            'points': []
        } 
            
    pSkill = []
    for p in game['name']: pSkill.append(pDict[p].get('gameSkills'))
    for p in game['name']: 
        if pDict[p].get('gameSkills') == max(pSkill) and game['winner'].count(True) == 0: game['winner'].append(True)
        else: game['winner'].append(False)

    for p in game['name']:
        pIndex = game['name'].index(p)
        if game['winner'][pIndex] == True: game['points'].append(random.randint(0,2))
        else: game['points'].append(3)
    
    return game

def devSession(maxRounds=6):
    gameRounds = random.randint(1,maxRounds)
    game = devGame(playersDict)
    
    game.update({'gameUID': 0})
    dfN = pd.DataFrame.from_dict(game)
    
    roundsLeft = gameRounds-1
    if gameRounds > 1:
        while roundsLeft != 0:
            nextGame = devGame(playersDict, pArray=game['name'])
            nextGame.update({'gameUID': roundsLeft})
            dfNext = pd.DataFrame.from_dict(nextGame)
            dfN = pd.concat([dfN, dfNext])
            roundsLeft -= 1
            
    masterUID = uuid.uuid4().time
    dfN['masterUID'] = masterUID
    return dfN

def devGenerateTable(sessionNumber=20):
    n = 1
    df = devSession()
    while n < sessionNumber:
        dfT = devSession()
        df = pd.concat([df, dfT])
        n += 1
    for n in df['masterUID']:
        dfN = df.loc[df['masterUID'] == n]
        dfCount = dfN['gameUID'].nunique()
        df.loc[df['masterUID'] == n, 'finGames'] = dfCount
    df['finGames'] = df['finGames'].astype(int)
    df.to_csv('csv/playerModel.csv', index=False)
devGenerateTable(sessionNumber=20)

In [166]:
dfTest = pd.read_csv('csv/playerModel.csv')

In [168]:
dfTest.head(60)

       name  winner  points  gameUID           masterUID  finGames
0      Jack   False       3        0  441621366102261820         5
1      Mike   False       3        0  441621366102261820         5
2      Anna   False       3        0  441621366102261820         5
3    Braina   False       3        0  441621366102261820         5
4   Jessica   False       3        0  441621366102261820         5
5     Sonia    True       2        0  441621366102261820         5
6      Jack   False       3        4  441621366102261820         5
7      Mike   False       3        4  441621366102261820         5
8      Anna   False       3        4  441621366102261820         5
9    Braina   False       3        4  441621366102261820         5
10  Jessica    True       1        4  441621366102261820         5
11    Sonia   False       3        4  441621366102261820         5
12     Jack   False       3        3  441621366102261820         5
13     Mike    True       0        3  441621366102261820         5
14     Anna   False       3        3  441621366102261820         5
15   Braina    True       0        3  441621366102261820         5
16  Jessica    True       1        3  441621366102261820         5
17    Sonia   False       3        3  441621366102261820         5
18     Jack   False       3        2  441621366102261820         5
19     Mike   False       3        2  441621366102261820         5
20     Anna   False       3        2  441621366102261820         5
21   Braina   False       3        2  441621366102261820         5
22  Jessica   False       3        2  441621366102261820         5
23    Sonia    True       2        2  441621366102261820         5
24     Jack   False       3        1  441621366102261820         5
25     Mike   False       3        1  441621366102261820         5
26     Anna   False       3        1  441621366102261820         5
27   Braina    True       1        1  441621366102261820         5
28  Jessica   False       3        1  441621366102261820         5
29    Sonia   False       3        1  441621366102261820         5
30     Anna   False       3        0  757571845606303896         4
31   Braina   False       3        0  757571845606303896         4
32  Jessica    True       1        0  757571845606303896         4
33     Anna   False       3        3  757571845606303896         4
34   Braina   False       3        3  757571845606303896         4
35  Jessica    True       1        3  757571845606303896         4
36     Anna   False       3        2  757571845606303896         4
37   Braina   False       3        2  757571845606303896         4
38  Jessica    True       1        2  757571845606303896         4
39     Anna   False       3        1  757571845606303896         4
40   Braina    True       0        1  757571845606303896         4
41  Jessica   False       3        1  757571845606303896         4
42     Mike   False       3        0  610579395777231472         2
43  Jessica    True       2        0  610579395777231472         2
44    Sonia   False       3        0  610579395777231472         2
45     Mike   False       3        1  610579395777231472         2
46  Jessica   False       3        1  610579395777231472         2
47    Sonia    True       1        1  610579395777231472         2
48     Anna   False       3        0  321725873933131249         1
49   Braina    True       2        0  321725873933131249         1
50     Jack   False       3        0  701867326732198526         5
51     Mike   False       3        0  701867326732198526         5
52   Braina   False       3        0  701867326732198526         5
53  Jessica   False       3        0  701867326732198526         5
54    Sonia    True       1        0  701867326732198526         5
55     Jack   False       3        4  701867326732198526         5
56     Mike   False       3        4  701867326732198526         5
57   Braina    True       1        4  701867326732198526         5
58  Jessica   False       3        4  701867326732198526         5
59    Sonia   False       3        4  701867326732198526         5

In [128]:
#filtr czasowy
def filterByDate(df, startDate=0, startTime='00:00', endDate=0, endTime='23:59'):
    if startDate == 0: startDate = df['timestamp'].values[0]
    if endDate == 0: endDate = df['timestamp'].values[-1]
    df['timestamp'] = pd.to_datetime(df['timestamp'], yearfirst=True)
    # startTime = '00:00'
    # startDate = '2022-02-01'
    # endTime = '23:59'
    # endDate = '2022-02-01'
    df = df.loc[(df['timestamp'] >= f'{startDate} {startTime}') & (df['timestamp'] <= f'{endDate} {endTime}')]
    return df

# osoba, która wygrała najwięcej gier
def overallWinner(df):
    df = df.loc[df['end'] == False]
    dfN = df[['name', 'end']].groupby('name').count().sort_values('end', ascending=False)
    dfDict = dfN.to_dict()
    return dfDict

#osoba, która wygrała najwięcej w danym czasie
def timeWinner(df, startDate=0, startTime='00:00', endDate=0, endTime='23:59'):
    print(startDate)
    dfFilter = filterByDate(df, startDate, startTime, endDate, endTime)
    dfDict = overallWinner(dfFilter)
    return dfDict

#filtr po imieniu
def filterByName(df, playerName):
    dfM = df.loc[df['name'] == playerName]
    dfMap = set(dfM['masterUID'])
    df = df.loc[df['masterUID'].isin(dfMap)]
    dfDict = df.to_dict('records')
    return dfDict

In [ ]:
df.loc[df['masterUID'] == '716597bf-bab6-453f-a136-d59a25b263e9']

In [ ]:
df.value_counts('name')